@inherits LayoutComponentBase

<ResponsiveLayout>
    @* Here is your navigation menu *@
    <NavigationMenu>
        <div class="sidebar">
            <NavMenu />
        </div>
    </NavigationMenu>
    @* Here is your header *@
    <Header>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/"
               target="_blank">About</a>
        </div>
    </Header>
    @* And finally you application Body *@
    <ChildContent>
        @Body
    </ChildContent>
</ResponsiveLayout>