<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ClientSideApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    @* We can remove the "flex-column" class from *@
    @* our nav menu ul element. *@
    <ul class="nav">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="container">
                <span class="oi oi-media-stop" aria-hidden="true"></span> Container
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dock">
                <span class="oi oi-paperclip" aria-hidden="true"></span> Dock
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="grid">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Grid
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
