
<div class="my-component">
    This Blazor component is defined in the <strong>MySharedComponents</strong> package and it is used from <strong id="@ElementIds.ParentNameId">@ParentName</strong>.
    <br>
    <button class="btn btn-primary" @onclick="GetTextAsync">Click me</button>
    <br>
    <text>Text : <span id="@ElementIds.TextValueId">@Text</span></text>
</div>
